<footer>
    <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test :: Protein J</p>
    
    <p><a href="/info"">About </a> | <a href="/info"">Contact </a> | <a href="/info""> Privacy Policy </a></p>

</footer>