<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Animal Test</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/testpage.css">
    <link rel="stylesheet" href="/css/result.css">    
    <link rel="stylesheet" href="/css/intropage.css">
</head>

<body>
        <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="/image/main_logo.png" alt="Forest Animal Logo" id="nav-logo">
                </a>
            </div>
            <div class="title">
                <h1>Forest Animal Personality Test</h1>
            </div>
        </nav>
    </header>
    

