<%- include('partials/head') %>


    <div class="homepage-container">
        <main>
            <p class="test-title">나에게 어울리는 향수는?</p>
            <p class="test-description">향으로 알아보는 MBTI!</p>
            <button class="start-btn" onclick="window.location.href='/testPage1'">테스트 시작</button>
        </main>

<%- include('partials/foot') %>