<%- include('partials/head') %>


    <div class="container-home">
        <main>
            <img src="image/mainpage_logo.webp" class="mainpage_logo" >
            <p class="test-title">나에게 어울리는 향수는?</p>
            <p class="test-description">향으로 알아보는 MBTI!</p>
            <button class="start-btn" onclick="window.location.href='/testPage1'">테스트 시작</button>
        </main>

        <footer>
            <p>&copy; <%= new Date().getFullYear() %> Forest Animal Test</p>
        </footer>
    
        <script src="/js/main.js"></script>
    </div>
</body>
</html>