<%- include('partials/head') %>

    
    <div class="homepage-container">
        
        <div class="test-title-container">
            <p class="test-title">당신의 MBTI, </p>
            <p class="test-title">당신의 향기 </p>
        </div>
        <div class="start-btn-container">
            <button class="start-btn" onclick="window.location.href='/testPage1'">테스트 시작하기</button>
        <div>

<%- include('partials/foot') %> 