<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MBTI TEST</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="icon" type="image/png" href="/image/main-logo.png" sizes="32x32">
</head>

<body>

  <div class="navbar-wrapper" >
    <nav class="navbar">
      <div class="home-icon">
        <a href="/">
          <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
        </a>
      </div>
      <div class="resultList-Tag">
        <a href="/resultList" style="font-size: 30px; color: white; text-decoration: none; margin-left: 15px;">
          All Perfume
        </a>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="container-content">
        <div class="test-title-container">
            <p class="test-title">당신의 MBTI, </p>
            <p class="test-title">당신의 향기 </p>
        </div>
        <div class="start-btn-container">
            <button class="ReStartButton" onclick="window.location.href='/intro'">테스트 시작하기</button>
        </div>
    </div>
  </div>


  <footer>
        <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test :: ProteinJ</p>
  </footer>

  <script src="/js/app.js"></script>
</body>
</html>