<%- include('partials/head') %>
    <div class="container">
        <img src="image/introPage_img.png" class="introPage_img">
        <p class="story_top">
            오늘은 기다리고 기다리던 당신의 <br>
            이상형과 만나는 날입니다.</p>

        <p class="story_bottom">    
            향수를 좋아하는 그녀/그로부터 점수를 얻고 싶은데 <br>
            어떤 향수가 나에게 제일 잘 어울릴까요?</p>

<%- include('partials/foot') %>