<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/resultList.css">
</head>
<body>
    <div class="navbar-wrapper" >
        <nav class="navbar">
          <div class="home-icon">
            <a href="/">
              <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
            </a>
          </div>
          <div class="resultOage-Tag">
            <a href="/resultPage" style="font-size: 30px; color: white; text-decoration: none; margin-left: 15px;">
              Result Page
            </a>
          </div>
        </nav>
      </div>

    
    <div class="container">
        <div class="content-container">
            <% mbtiData.forEach(item => { %>
                <div class="border p-4 rounded-lg bg-gray-100 text-center">
                  <h3>당신은</h3>
                  <h1><%= item.type %></h1>
                  <h3>(<%= item.desc %>)</h3>
                </div>
              <% }) %>
        </div>
    </div>


    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test :: ProteinJ</p>
    </footer>
</body>
</html>