<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI TEST</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/testP.css">
</head>

<body>
    <div class="navbar-wrapper" >
        <nav class="navbar">
          <div class="home-icon">
            <a href="/">
              <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
            </a>
          </div>
          <div class="resultOage-Tag">
            <a href="/resultPage" style="font-size: 30px; color: white; text-decoration: none; margin-left: 15px;">
              Result Page
            </a>
          </div>
        </nav>
      </div>

    <div class="container">
        <div class="question-container">
            <p class="question-text">zzzzzzzzz</p>
        </div>

        <div class="radio-container">
            <div class="radio-text-container">
                <p class="radio-text">그렇지 않다</p>
                <p class="radio-text">보통</p>
                <p class="radio-text">그렇다</p>
            </div>
                
            <div class="radio-group-container">
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="-2" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="-1" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="0" class="radio-input">
                    <span class="radio-custom large"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="1" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="2" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test :: ProteinJ</p>
    </footer>

    <script src="/js/app.js"></script>
</body>
</html>