<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI TEST</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/testP.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="/image/main_logo.png" alt="Forest Animal Logo" id="nav-logo">
                </a>
            </div>
            <div class="title">
                <h1>Perfume MBTI Test</h1>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="question-container">
            <p class="question-text">zzzzzzzzz</p>
        </div>

        <div class="radio-container">
            <div class="radio-text-container">
                <p class="radio-text">그렇지 않다</p>
                <p class="radio-text">보통</p>
                <p class="radio-text">그렇다</p>
            </div>
                
            <div class="radio-group-container">
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="-2" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="-1" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="0" class="radio-input">
                    <span class="radio-custom large"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="1" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
                <label class="radio-label">
                    <input type="radio" name="p1_q1" value="2" class="radio-input">
                    <span class="radio-custom"></span>
                </label>
            </div>

        </div>


    

    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test</p>
    </footer>

    <script src="/js/app.js"></script>
</body>
</html>