<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI TEST</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/introPage.css">
</head>

<body>
    <div class="navbar-wrapper" >
        <nav class="navbar">
            <div class="home-icon">
            <a href="/">
                <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
            </a>
            </div>
            <div class="resultOage-Tag">
            <a href="/resultPage" style="font-size: 30px; color: white; text-decoration: none; margin-left: 15px;">
                Result Page
            </a>
            </div>
        </nav>
        </div>

    
    <div class="container">
        <div class="container-content">
            <img src="/image/intropage-img.png" alt = "인트로 페이지 이미지" class="intro_image">
            <div class="intro_text">
                <p>어떤 향수는,<br>나를 더 빛나게 만들고.</p>
                <p>어떤 향수는,<br>아무도 모르게 나를 위로합니다.</p>
                <p>내가 선택한 향수 하나하나엔<br>내 성격, 내 기억, 내 마음이 스며 있습니다.</p>
                <p class><strong>"당신이 고른 향수는, 당신을 닮아 있습니다."</strong></p>
                <p>오늘, 나는 어떤 향수를 고를까요?<br>그리고 그 선택은, 어떤 나를 보여줄까요?</p>
            </div>
            <button class="next_btn" onclick="window.location.href='/testP'">향수 고르기</button>
        </div>
    </div>


    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test :: ProteinJ</p>
    </footer>

    <script src="/js/app.js"></script>
</body>
</html>