@font-face {
    font-family: '함초롱바탕';
    src: url('/fonts/HCRBatang.woff2') format('woff2'),
         url('/fonts/HCRBatang.woff') format('woff'),
         url('/fonts/HCRBatang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.mainpage_logo {
    height: 500px;
    width: auto;
    margin-bottom: 10px;
}

.test-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 60px;
    font-family: '함초롱바탕', sans-serif;
}

.test-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: '함초롱바탕', sans-serif;
    font-weight: bold;
}

.start-btn {
    background-color: #8bc34a;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: '함초롱바탕', sans-serif;
    margin-top: 20px;
    margin-bottom: 60px;
}

.start-btn:hover {
    background-color: #7cb342;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.start-btn:active {
    transform: translateY(1px);
}

/* Footer */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 0.9rem;
}

