* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1500px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.container-home {
    max-width: 1500px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: fles;
}

.navbar {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;    /* 세로 정렬 (필요 시) */
    padding: 15px;
    margin: 0 auto;
}

.title {
    text-align: center; /* 텍스트를 중앙 정렬 */
    font-size: 1.5em;   /* 글자 크기 조정 */
    color: #2c3e50;     /* 텍스트 색상 */
    margin: 0;          /* 여백 제거 */
}

.test-title {
    text-align: center; /* 텍스트를 중앙 정렬 */
    font-size: 2em; /* 필요에 따라 글자 크기 조정 */
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
}

.logo {
    margin-right: 20px;
}

#nav-logo {
    height: 40px;
    width: auto;
}

.title h1 {
    font-size: 1.5rem;
    color: #2c3e50;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center;    /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    min-height: calc(100vh - 130px); /* 화면 높이에 맞게 중앙 배치 */
    padding-top: 0; /* 기존 패딩 제거 */
}