* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '산토끼체', sans-serif;
}

@font-face {
    font-family: '산토끼체';
    src: url('/fonts/경기천년바탕_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.container, /* 기존 .container 규칙에 .navbar-wrapper를 추가 */
.navbar-wrapper {
width: 100%; /* 사용 가능한 너비의 100%를 차지 (max-width 범위 내) */
max-width: 50rem; /* .container와 동일한 최대 너비 설정 */
margin: 0 auto; /* 중앙 정렬 (기존 .container는 margin: auto로 되어 있었음) */
}



.container {
  background-position: bottom;
  background-size: cover;
  padding: 30px; /* 기존 패딩 유지 */  
  padding-top: 100px; /* 기존 패딩 유지 */
  height: 100vh; /* 컨테이너 높이 유지 */
  margin-top: -60px;
}


.navbar-wrapper {
    background-color: #ffffff00;
    height: 60px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
}

footer {
    background-color: #f1f1f1;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 0.9rem;
    margin-top: auto; /* 자동으로 아래로 위치 */
}
