body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
}

.result-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.result-recomand {
    text-align: center;
    margin-bottom: 25px;
    font-size: 0.8em;
}

.result-recomand-info {
    text-align: center;
    margin-bottom: 25px;
    font-size: 0.5em;
}

.result-type {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.result-description {
    text-align: center;
    margin-bottom: 25px;
}

.result-characteristics, .result-recommendations {
    margin-top: 20px;
}

.result-characteristics h2, .result-recommendations h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.result-characteristics ul, .result-recommendations ul {
    list-style-type: disc;
    margin-left: 20px;
}

#restartButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#restartButton:hover {
    background-color: #0056b3;
}

.percentage-container {
    width: 300px;
    margin: 50px auto;
}

.percentage-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.percentage-bar .label {
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.percentage-bar .bar {
    width: 250px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.percentage-bar .bar .fill {
    height: 100%;
    background-color: #007bff;
    transition: width 0.5s ease-in-out;
}

.percentage-bar .percentage {
    width: 50px;
    text-align: right;
    margin-left: 10px;
}