@font-face {
    font-family: 'YoonGothic';
    src: url('/fonts/HANYGO240.ttf') format('truetype');
    font-style: normal;
}

* {
    font-family: 'YoonGothic', sans-serif !important;
}

.container {
    background-image: url("../image/main-background.png");
    background-repeat: repeat;
    min-height: 100vh;
}

.box-title {
    font-size: 2.1em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.content-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.mbti-type-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

span {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 0px 1px #000000;;
}

h4 {
    font-size: 17px;
    font-weight: 200;
}


h3 {
    color: #000000;
    font-size: 25px;
}

h1 {
    font-size: 80px;
    color: #000000
}

.start-btn-container {
    display: flex;
    margin-top: auto;  /* 버튼을 하단으로 밀어주기 */
    margin-bottom: 50px;  /* 버튼과 하단 간격 설정 */
}

.recommand-scent-personality-container {
    color: #000000;
    text-shadow: 0px 0px 10px rgba(61, 12, 94, 0.178);
    font-weight: 300;
}

.personality-container, .recommand-scent-container{
    background-color: #ffffffAA;
    border-radius: 5px;
    padding: 40px;
}

.personality-container {
    display: flex;
    align-items: left;
    justify-items: center;
    flex-direction: column;
    gap: 40px;
}

.personality-container-low {
    display:flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.personality-box {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.personality-content{
    display: flex;
    flex-direction: column;
    height: 5em;
    width: 18em;
    gap: 2px;
}

.personality-content-pnc{
    display: flex;
    flex-direction: column;
}

.recommand-scent-title-container {

}

.recommand-scent-container{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.perfume-discription-container{
    display: flex;
    align-items: left;
    justify-items: center;
    flex-direction: row;
    width: 40em;
}

.perfume-discription-title{
    align-items: left;
    margin-bottom: 10px;
}

.perfume-discription-text-container{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.recommand-perfume-title-container{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.recommand-perfume-content {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 2em;
}

.recommand-perfume-image {
    height: 12.5em;
    width: 12.5em;
    border: 3px solid #000000;
}

.recommand-perfume-text-container {
    height: 12.5em;
    width: 25em;
    gap: 0.2em;
    display: flex;
    flex-direction: column;
}

.recommand-perfume-text-content {
    height: 4em;
    display: flex;
    flex-direction: row;
}


