.container {
    background-image: url("../image/main-background.png");
    background-repeat: repeat;
    min-height: 100vh;
}

.content-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.mbti-type-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 5px;
}



h3 {
    color:aliceblue;
    font-size: 25px;
}

h1 {
    font-size: 80px;
    color: #ffffff
}


.start-btn-container {
    display: flex;
    margin-top: auto;  /* 버튼을 하단으로 밀어주기 */
    margin-bottom: 50px;  /* 버튼과 하단 간격 설정 */
}

/* Percentage Bar - conatinaer */

.percentage-container {
    width: 80%;
    background-color: #ffffff00;
}

.percentage-bar {
    display: flex;
    align-items: center;
}

.percentage-bar .label {
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.percentage-bar .bar {
    width: 60%;
    height: 15px;
    background-color: #ffffff33;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top:40px;
    margin-bottom:40px;
}

.percentage-bar .bar .fill {
    height: 100%;
    background-color: #007bff;
    transition: width 0.5s ease-in-out;
}

.percentage-bar .percentage {
    width: 50px;
    text-align: right;
    margin-left: 10px;

}