.container {
    background-image: url("../image/main-background.png");
    background-repeat: no-repeat;
    user-select: none;
    min-height: 100vh; /* 컨테이너 높이 유지 */
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.question-container {
    margin-top: -7%;
    padding-left: 10%;
    padding-right: 10%;
}

.process-container {
    display:flex;
    align-items:center;
    justify-content: center;
    height:10%;
    margin-bottom: 100px;
}


.process {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
} 



.question-button {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:10%;
    margin-top: 40px;
}

.question-box {
    margin: 3%;
    padding: 5%;
    display: inline-flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    background-color: #ffffff3a;
    border-radius: 30px;
    height: 8em;
    width: 38em;
    cursor: pointer;
}

.question-box:hover {
    background-color: #ffffff88;
}
  
input[type="radio"] {
    display: none;
}

.question-text {
    line-height: 1.2em;
    font-size: 1.8em;
    font-weight: 200;
    color: rgba(108, 49, 148, 0.769);
}

.question-situation-container{
    display: flex;
    height: 7.5rem;
    align-items: center;
    justify-content: center;
}

.question-situation {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    line-height: 1.4;
    color: #ffffff;
}

.navigation-buttons {
    display: flex;
    z-index: 100;
}

button.prev-btn {
    background-color: #ffffff3a;
    color: rgba(108, 49, 148, 0.769);
    border: 2px solid #ffffff;
    padding: 20px 80px;
    font-family: '산토끼체', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    fill-opacity: 0.7;
}

button.prev-btn:hover {
    background-color: #9e9e9ec0;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

@media (max-width: 800px) {
    .question-container {
        margin-top: -40px;
        width: 100%;
    }
    .process-container {
        margin-bottom: 5em;
    }
    .question-button {
        margin-top: 20px;
    }
    .question-box {
        width: 100%;
        max-width: 100%;
        height: 9em;
        padding: 20px;
        margin: 10px 0;
        font-size: 0.9em;
        border-radius: 20px;
    }
    .question-situation{
        font-size: 2em;
    }
    .question-text {
        font-size: 1.7em;
    }
}

@media (max-width: 400px){
    .process-container {
        margin-bottom: 4em;
    }
    .question-situation{
        font-size: 1.5em;
    }
    .question-text {
        font-size: 1.2em;
    }
}