.container {
    background-image: url("../image/main-background.png");
    background-repeat: no-repeat;
    user-select: none;
    height: 100vh; /* 컨테이너 높이 유지 */
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 100px;
}

.question-container {
    margin-top: -7%;
    padding-left: 10%;
    padding-right: 10%;
}

.process-container {
    display:flex;
    align-items:center;
    justify-content: center;
    height:10%;
}

.process {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
} 

.question-button {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 35%;
    height:10%;
}

.question-box {
    margin: 5%;
    padding: 5%;
    display: inline-flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    background-color: #ffffff3a;
    border-radius: 30px;
    height: 8em;
    width: 40em;
    cursor: pointer;
}

.question-box:hover {
    background-color: #ffffff88;
}
  
input[type="radio"] {
    display: none;
}

.question-text {
    line-height: 1.25em;
    font-size: 2em;
    font-weight: 200;
    color: rgba(108, 49, 148, 0.769);
}


@media (max-width: 800px) {
    .question-container {
        margin-top: -40px;
    }
    .question-box {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 20px;
        margin: 20px 0;
        font-size: 0.9em;
        border-radius: 20px;
    }
    .question-text {
        font-size: 1.7em;
    }
}